*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-weight: 900;
    color: blue;
    margin:20px 500px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.color-conatiner{
    background-color: cyan;
    height: 150px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    justify-content: center;
    color: white;
    font-size: 25px;
    align-items: center;
}

#colorContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}